**
!.npmrc
!package*.json
!pnpm*.json
!tsconfig.base.json
!*.pem

!assets/**
!apps/**
!libs/**
!patches/**

**/*.md
**/*.spec.ts
**/*.spec.tsx
**/Dockerfile
**/docker-compose.yml
**/.dockerignore

!jest.preset.js
!.eslintrc.json